:root {
    --color-foreground: #000;
    --color-background: #FFF;

    @media (prefers-color-scheme: dark) {
        --color-foreground: #FFF;
        --color-background: #000;
    }
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--color-background);
    color: var(--color-foreground);
    padding: 12px;
}

.holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    justify-content: space-around;
}

.wrapper {
    padding: 4px;
    max-width: 100%;
    * {
        max-width: 100%;
        text-wrap: unset !important;
    }
}

.holder a, .holder button {
    margin-inline: 0 !important;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 88%;
}

@media screen and (min-width: 769px) {
    body {
        padding: 16px;
    }
    .holder {
        gap: 8px;
        justify-content: space-between;
    }
    h1 {
        text-align: left;
        margin-top: 0;
        font-size: 6em;
    }
}