:root {
    --color-foreground: #000;
    --color-background: #FFF;

    @media (prefers-color-scheme: dark) {
        --color-foreground: #FFF;
        --color-background: #000;
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

.holder {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.wrapper {
    padding: 8px;
}